.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.product-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.description-frame {
  margin: 20px;
  border: 1px solid #ccc; /* Example styling for the border */
  padding: 10px;
}

.price {
  margin-bottom: 20px;
}

.add-to-cart-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}
